body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(86, 116, 236, 0.11), rgba(86, 116, 236, 0.11)), #FFFFFF !important;
}

@import "react-alice-carousel/lib/alice-carousel.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("OsandeLight"),
    url("./fonts/Osande\ -\ Light.otf") format("truetype");
}

@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("OsandeMedium"),
    url("./fonts/OsandeMedium.otf") format("truetype");
}

a:hover {
  color: #5674EC !important;
}

.active {
  color: #5674EC !important;
}
